.table-wrapper {
  width: 100%;
  height: calc(100vh - 48px);
}

.multi-value-field {
  align-items: center;
  display: flex;
  height: 100%;
}

.single-values-wrapper {
  margin: 4px 0;
}

.values-wrapper {
  align-items: center;
  column-gap: 4px;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  justify-content: flex-start;
  row-gap: 4px;
  margin: 4px 0;
}

.values-wrapper.bordered span {
  border: 1px solid;
  border-radius: 5px;
  line-height: 20px;
  padding: 2px;
}

.no-header {
  display: none;
}

.cell-wrapper .favourite-field span {
  font-size: 25px;
  cursor: pointer;
}

.cell-wrapper .checked span {
  color: red;
}

.ag-row {
  cursor: pointer;
}
