.multi-value-field {
  height: 100%;
  display: flex;
  align-items: center;
}

.values-wrapper {
  display: flex;
  row-gap: 4px;
  column-gap: 4px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 12px;
}

.values-wrapper span {
  line-height: 20px;
    border: 1px solid;
    border-radius: 5px;
    padding: 2px;
}

.flag-header {
  display: none;
}
